/* Media Queries – Responsive
---------------------------------------------------------------------------- */
@media all and (min-width: 0) and (max-width: 999px) {
	body {
		width: 100%;
	}
	#content {
		padding: 0 20px;
	}
	h1 {
		background-size: 90%;
		background-position: center center;
	}
	.main-nav {
		width: 95%;
	}
	.user-text {
		width: 50%;
		padding: 0;
		-webkit-column-count: 1;
		   -moz-column-count: 1;
		   		column-count: 1;
	}
	.user-text p {
		padding-top: 15px;
	}
	.user-text p:first-child {
		padding-top: 0;
	}
	.cowboy-icon {

	}
}
@media all and (min-width: 0) and (max-width: 660px) {
	body {
		border: 0;
		background-size: 550px;
		background-position: center top;
	}
	.main-nav {
		background-color: #f3f3f3;
		border-bottom: 5px #bc0505 solid;
		margin: 0;
		padding: 0 20px;
		position: absolute;
		width: 100%;
	}
	.main-nav ul {
		padding: 15px 0;
	}
	.main-nav li {
		float: none;
		margin-top: 20px;
		text-align: left;
		width: auto;
	}
	.main-nav li:first-child {
		margin-top: 0;
	}
	/* Navigation
	---------------------------------------------------------------------------- */
	/* mobile menu  hamburger*/
	#mobile-hamburger {
		background-color: #bc0505;
		display: block;
		height: 20px;
		padding: 10px;
		position: absolute;
		right: 20px;
		width: 20px;
	}
	#mobile-hamburger span {
		display: block;
		position: relative;
		width: auto;
		top: 5px;
	}
	#mobile-hamburger .icon-bg {
		background-color: #fff;
		height: 15px;
	}
	#mobile-hamburger .icon-bg .icon-bar {
		background-color: transparent;
		border-top: 5px solid #bc0505;
		height: 5px;
		position: relative;
		top: 5px;
	}
	nav ul {
		display: none;
	}
	nav.expanded ul {
		display: block;
	}
	nav li a {
		float: none;
		font-size: 0.9375em; /* 15/16 */
	}
	header {
		height: 306px;
	}
	h1 {
		background-size: 80%;
		background-position: center 20px;
		height: 295px;
		margin: 0;
		width: 100%;
	}
	#content {
		padding: 0 20px;
	}
	#content h2 {
		background: none;
		font-size: 1.4375em; /* 23/16 */
		padding: 10px 0 25px 0;
		text-align: left;
		top: 0;
	}
	#content h2 img {
		display: none;
	}
	#content h2 strong {
		margin-top: 0;
		width: 100%;
	}
	.user-text {
		float: none;
		padding: 0;
		width: auto;
		-webkit-column-count: 1;
		   -moz-column-count: 1;
		   		column-count: 1;
	}
	.user-text + img {
		display: none;
	}
	.menu-category .menu-section {
		float: none;
		text-align: left;
		margin: 0;
	}
	.menu-category > div {
		float: none;
		width: auto;
		padding: 0 20px;
	}
	.menu-category {
		width: 100%;
		text-align: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		   		box-sizing: border-box;
	}
	.menu-category h3 {
		margin:0 0 20px
	}
	.menu-category .menu-section ul {
		height: auto;
	}
	.menu-category li {
		text-align: left;
	}
	#map_canvas {
		display: none;
	}
	#google-maps {
		border-top: 1px solid #efefef;
		box-shadow: -1px 0 3px #d5d5d5;
		height: auto;
	}
	#address {
		float: none;
		margin: 0 auto;
		width: auto;
		top: 0;
	}
	#address a {
		float: none;
		display: block;
		width: 100%;
	}
	footer {
		line-height: 20px;
	}
	footer p {
		padding-bottom: 20px;
	}
	footer p, 
	footer ul {
		float: none;
	}
	footer li {
		text-align: left;
	}
	footer li:first-child {
		margin-left: 0;
	}
	footer li a {
		font-size: 11px;
	}
}
