
/* Fonts
----------------------------------------------------------------------------- */

@font-face: {
	font-family: 'bevan';
	src: url('fonts/bevan.eof');
	src: local('bevan'), url('fonts/bevan.ttf') format('truetype');
}
@font-face: {
	font-family: 'sniglet';
	src: url('fonts/sniglet.eof');
	src: local('sniglet'), url('fonts/sniglet.ttf') format('truetype');
}




/* Global Styles
----------------------------------------------------------------------------- */

body {
	background: url('../images/header-bg.jpg') no-repeat center 175px;
	border-top: 5px #bc0505 solid;
	color: #666666;
}

.page {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}

nav,
header,
h1,
section,
.wrapper {
	margin: 0 auto;
	width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
}
.wrapper {
	height:  100%;
}
h1 {
	margin: 20px auto 0 auto;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}

a,
a:visited {
	color: #1a1a1a;
}

/* Navigation
----------------------------------------------------------------------------- */

.main-nav {
	font-family: bevan, sans-serif;
/*	height: 40px;
*/	margin: 50px auto 0;
	width: 73%;
}
nav ul {
	overflow: hidden;
}
nav li {
	width: 25%;
	float: left;
}

nav li a {
	float: right;
}

nav a {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
}
#mobile-hamburger {
	display: none;
}







/* Header
----------------------------------------------------------------------------- */

header {
	/*background: url('../images/header-bg.jpg') no-repeat top left;
	max-width: 1400px;
	width: 100%;*/
	height: 815px;
}

h1 {
	background: url('sprites/header.png') no-repeat top left;
	width: 874px;
	height: 178px;
}

h1 span {
	display: none;
}



/* Section - Content
----------------------------------------------------------------------------- */

#content {
	/*width: 1000px;*/
	/*background: #f9f9f9;*/
	/*padding: 0 200px 50px;*/
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}

#content h2 {
	position: relative;
	top: -46px;
	background: url('sprites/logo.png') no-repeat top left;
	text-align: right;
	font-family: bevan, sans-serif;
	font-size: 26px;
	color: #333;
	padding-top: 165px;
}
#content h2 span {
	display: block;
	text-align: right;
	font-size: 18px;
	color: #d2d2d2;
}

#content img {
	margin-left: 30px;
	float: right;
}

.user-text {
	float: left;
	width: 67%;
	padding-left: 50px;
	line-height: 20px;
	
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;
	
	-moz-column-gap: 30px; /* Firefox */
	-webkit-column-gap: 30px; /* Safari and Chrome */
	column-gap: 30px;
}













/* Section - Menu
----------------------------------------------------------------------------- */

#menu-food {
	margin: 50px auto 30px;
	color: #000;
	border-bottom: 2px #eaeaea solid;
	padding: 20px 0 0;
}

.menu-category h3 {
	margin: 0 auto 40px;
}

.menu-category {
	text-align: center;
}

.menu-category h4 {
	font-family: sniglet, sans-serif;
	font-size: 30px;
	color: #bc0505;
	margin: 0 0 20px;
	text-transform: uppercase;
}

.menu-category .menu-section {
	width: 216px;
	margin: 0 60px;
	float: left;
}

.menu-category ul {
	margin: 0 0 50px;
}

.menu-category li {
	font-family: bevan, sans-serif;
	font-size: 18px;
	text-align: center;
	margin: 0 0 15px;
	color: #000;
}
.menu-category li span {
	display: block;
	font-size: 14px;
	font-family: Arial, sans-serif;
}








/* Section - Menu - BBQ
----------------------------------------------------------------------------- */

.menu-bbq {
	width: 672px;
	border-right: 2px #eaeaea solid;
	float: left;
}

.menu-bbq h3 {
	background: url('sprites/header-bbq.gif') no-repeat top left;
	height: 84px;
	width: 190px;
}

.menu-bbq h3 span {
	display: none;
}

.menu-bbq ul:nth-child(2) {
	height: 250px;
}









/* Section - Menu - Sides
----------------------------------------------------------------------------- */

.menu-sides {
	float: left;
	width: 326px;
}

.menu-sides h3 {
	background: url('sprites/header-sides.gif') no-repeat top left;
	height: 84px;
	width: 203px;
}

.menu-sides h3 span {
	display: none;
}






/* Section - Menu - Drinks
----------------------------------------------------------------------------- */

.specials {
	background: #bc0505;
	width: 300px;
	padding: 35px 15px 15px;
	height: 280px;
	text-align: center;
	float: left;
}

.specials h4 {
	font-family: sniglet, sans-serif;
	font-size: 38px;
	color: #fff;
}

.specials li {
	color: #fff;
	font-family: bevan, sans-serif;
	font-size: 22px;
	margin: 0 0 10px;
}

.specials li.date {
	font-family: arial, sans-serif;
	font-size: 12px;
}







/* Section - Menu - Sides
----------------------------------------------------------------------------- */

.menu-drinks {
	margin: 0 auto;
	width: 670px;
}

.menu-drinks h3 {
	background: url('sprites/header-drinks.gif') no-repeat top left;
	height: 51px;
	width: 181px;
}

.menu-drinks h3 span {
	display: none;
}

.menu-drinks .menu-section {
	width: 335px;
	margin: 0;
}

/* Section - Google Maps
----------------------------------------------------------------------------- */

#google-maps {
	height: 450px;
	position: relative;
	width: 100%;
}

#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}

#address {
	position: relative;
	top: 60px;
	z-index: 2;
	
	background: #fff;
	padding: 30px;
	width: 340px;
	
	float: right;
	margin-right: 85px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	
	font-size: 14px;
}

#address h3 {
	color: #bc0505;
	font-family: sniglet, sans-serif;
	font-size: 38px;
	margin: 0 auto 20px;
	text-align: center;
}

#address hr {
	margin: 10px auto;
	width: 100px;
	border: none;
	border-top: 1px #eaeaea solid;
}

#address div {
	line-height: 20px;
	text-align: center;
	margin: 0 0 20px;
}

#address p {
	text-align: center;
}

#address p strong {
	display: inline-block;
	width: 155px;
}

#address a {
	display: block;
	float: left;
	background: #bc0505;
	width: 161px;
	height: 41px;
	bottom: 0;
	margin: 33px 18px 0 0;
	
	font-family: bevan, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 41px;
}

#address a:last-child {
	margin-right: 0;
}












/* Section - Instagram
----------------------------------------------------------------------------- */

#instagram {
	background: #272727;
	width: 100%;
	padding: 100px 0 50px;
}

#instagram h2 {
	font-family: sniglet, sans-serif;
	font-size: 40px;
	color: #fff;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin: 0 0 50px;
}


#instagram h2 {
	
}

#instagram figure {
	padding: 15px;
	background: #fff;
	float: left;
	margin: 0 29px 30px 0;
}
#instagram figure:nth-child(4),
#instagram figure:nth-child(7) {
	margin-right: 0;
}
 








/* Section - Footer
----------------------------------------------------------------------------- */

footer {
	color: #d56161;
	background: #bc0505;
	padding: 15px;
	font-size: 14px;
}

footer p {
	float: left;
}

footer nav {
	font-family: arial, sans-serif;
}

footer ul {
	float: right;
}

footer li {
	float: left;
	margin-left: 15px;
	width: auto;
}

footer a ,
footer a:visited {
	font-size: 14px;
	color: #d56161;
}



@media all and (min-width: 0) and (max-width: 660px) {
	/* General Styles
	---------------------------------------------------------------------------- */
	body {
		border: 0;
		background-size: 550px;
		/*overflow: hidden;*/
		width: 100%;
		-webkit-text-size-adjust: none;
	}
	nav ul {
		display: none;
	}
	nav.expanded ul {
		display: block;
	}
	nav li a {
		float: none;
		font-size: 15px;
	}
	header {
		height: 480px;
	}
	h1 {
		background-size: 80%;
		background-position: center 40px;
		margin: 0;
		height: 295px;
		width: 100%;
	}
	/* Navigation
	---------------------------------------------------------------------------- */
	.main-nav {
		background-color: #f3f3f3;
		border-bottom: 5px #bc0505 solid;
		margin: 0;
		padding: 0 20px;
		position: absolute;
		width: 100%;
	}
	.main-nav ul {
		padding: 15px 0;
	}
	.main-nav li {
		float: none;
		margin-top: 20px;
		text-align: left;
		width: auto;
	}
	.main-nav li:first-child {
		margin-top: 0;
	}
	/* mobile menu  hamburger*/
	#mobile-hamburger {
		background-color: #bc0505;
		display: block;
		height: 20px;
		padding: 10px;
		position: absolute;
		right: 20px;
		width: 20px;
	}
	#mobile-hamburger span {
		display: block;
		position: relative;
		width: auto;
		top: 5px;
	}
	#mobile-hamburger .icon-bg {
		background-color: #fff;
		height: 15px;
	}
	#mobile-hamburger .icon-bg .icon-bar {
		background-color: transparent;
		border-top: 5px solid #bc0505;
		height: 5px;
		position: relative;
		top: 5px;
	}
	/* Content
	---------------------------------------------------------------------------- */
	#content {
		padding: 0 20px;
	}
	#content h2 {
		background: none;
		font-size: 23px;
		padding: 10px 0 25px 0;
		text-align: left;
		top: 0;
	}
	
	.user-text {
		float: none;
		padding: 0;
		width: auto;
		-webkit-column-count: 1;
		   -moz-column-count: 1;
		   		column-count: 1;
	}
	.user-text p {
		padding-top: 15px;
	}
	.user-text p:first-child {
		padding-top: 0;
	}
	.user-text + img {
		display: none;
	}
	/* Menu
	---------------------------------------------------------------------------- */
	.menu-category .menu-section {
		float: none;
		margin: 0;
		text-align: left;
		width: auto;
	}
	.menu-category > div {
		border: 0;
		float: none;
		padding: 0 20px;
		width: auto;
	}
	.menu-category {
		width: 100%;
		text-align: left;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		   		box-sizing: border-box;
	}
	.menu-category h3 {
		margin: 0 auto 20px;
	}
	.menu-category .menu-section ul {
		height: auto;
	}
	.menu-category li {
		text-align: left;
	}
	#map_canvas {
		display: none;
	}
	#google-maps {
		border-top: 1px solid #efefef;
		box-shadow: -1px 0 3px #d5d5d5;
		height: auto;
	}
	#address {
		float: none;
		margin: 0 auto;
		width: auto;
		top: 0;
	}
	#address a {
		float: none;
		display: block;
		width: 100%;
	}
	footer {
		line-height: 20px;
	}
	footer p {
		padding-bottom: 20px;
	}
	footer p, 
	footer ul {
		float: none;
	}
	footer li {
		text-align: left;
	}
	footer li:first-child {
		margin-left: 0;
	}
	footer li a {
		font-size: 11px;
	}
}






















