
/* Fonts
----------------------------------------------------------------------------- */

@font-face: {
	font-family: 'bevan';
	src: url('fonts/bevan.eof');
	src: local('bevan'), url('fonts/bevan.ttf') format('truetype');
}
@font-face: {
	font-family: 'sniglet';
	src: url('fonts/sniglet.eof');
	src: local('sniglet'), url('fonts/sniglet.ttf') format('truetype');
}
/* Global Styles
----------------------------------------------------------------------------- */
body {
	background: url('../images/header-bg.jpg') no-repeat center 175px;
	border-top: 5px #bc0505 solid;
	color: #666666;
	font-size: 16px;
}
.page {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
nav,
header,
h1,
section,
.wrapper {
	margin: 0 auto;
	width: 100%;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
				box-sizing: border-box;
}
.wrapper {
	height:  100%;
}
h1 {
	margin: 20px auto 0 auto;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	color: #1a1a1a;
}
/* Navigation
----------------------------------------------------------------------------- */
.main-nav {
	font-family: bevan, sans-serif;
	margin: 50px auto 0;
}
nav ul {
	overflow: hidden;
	width: 100%;
	text-align: center;
}
nav li {
	font-size: 0.75em;
	display: inline;
	margin: 0 1%;
}
nav a {
	color: #000;
	font-size: 1.5em; /* 18/16 */
	text-transform: uppercase;
}
#mobile-hamburger {
	display: none;
}

/* Header
----------------------------------------------------------------------------- */
header {
	height: 815px;
}

h1 {
	background: url('sprites/header.png') no-repeat top left;
	width: 100%;
	height: 178px;
}

h1 span {
	display: none;
}
/* Section - Content
----------------------------------------------------------------------------- */
#content {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	   		box-sizing: border-box;
}
#content h2 {
	position: relative;
	top: -46px;
	overflow: hidden;
	font-family: bevan, sans-serif;
	font-size: 1.625em; /* 26/16 */
	color: #333;
}
#content h2 img {
	float: left;
	width: 21.1%; /* 211/1000px */
}
#content h2 strong {
	margin-top: 10%;
	float: right;
	width: 75%;
}
#content h2 span {
	display: block;
	text-align: right;
	font-size: 0.69em; /* 18/26 */
	color: #d2d2d2;
}
#content .cowboy-icon {
	margin-left: 30px;
	float: right;
}
.user-text {
	float: left;
	width: 67%;
	padding-left: 50px;
	line-height: 1.25em; /* 20/16 */
	font-size: 0.8125em; /* 13/16 */
	
	-moz-column-count: 2; /* Firefox */
	-webkit-column-count: 2; /* Safari and Chrome */
	column-count: 2;
	
	-moz-column-gap: 30px; /* Firefox */
	-webkit-column-gap: 30px; /* Safari and Chrome */
	column-gap: 30px;
}
/* Section - Menu
----------------------------------------------------------------------------- */
#menu-food {
	margin: 50px auto 30px;
	color: #000;
	border-bottom: 2px #eaeaea solid;
	padding: 20px 0 0;
}
.menu-category {
	text-align: center;
}
.menu-category h3 {
	margin: 0 auto 40px;
}
.menu-category h4 {
	font-family: sniglet, sans-serif;
	font-size: 1.875em; /* 30/16 */
	color: #bc0505;
	margin: 0 0 20px;
	text-transform: uppercase;
}
.menu-category .menu-section {
	width: 32%; /*216px/672; */
	margin: 0 10%;
	float: left;
}
.menu-category ul {
	margin: 0 0 50px;
}
.menu-category li {
	font-family: bevan, sans-serif;
	font-size: 1.125em; /* 18/16 */
	text-align: center;
	margin: 0 0 15px;
	color: #000;
}
.menu-category li span {
	display: block;
	font-size: 0.875em; /* 14/16 */
	font-family: Arial, sans-serif;
}
.menu-sides .menu-section {
	width: 100%;
	margin: 0;
}
.menu-bbq .menu-section {
	margin: 0 9%;
}
/* Section - Menu - BBQ
----------------------------------------------------------------------------- */
.menu-bbq {
	width: 67%; /* 672px/1000 */
	border-right: 2px #eaeaea solid;
	float: left;
}
.menu-bbq h3 {
	background: url('sprites/header-bbq.gif') no-repeat top left;
	height: 84px;
	width: 190px;
}
.menu-bbq h3 span {
	display: none;
}
.menu-bbq ul:nth-child(2) {
	height: 250px;
}
/* Section - Menu - Sides
----------------------------------------------------------------------------- */
.menu-sides {
	float: left;
	width: 32.6%; /* 326px/1000 */
}
.menu-sides h3 {
	background: url('sprites/header-sides.gif') no-repeat top left;
	height: 84px;
	width: 203px;
}
.menu-sides h3 span {
	display: none;
}
/* Section - Menu - Drink
----------------------------------------------------------------------------- */
.menu-drinks {
	margin: 0 auto;
	width: 670px;
}
.menu-drinks h3 {
	background: url('sprites/header-drinks.gif') no-repeat top left;
	height: 51px;
	width: 181px;
}
.menu-drinks h3 span {
	display: none;
}
.menu-drinks .menu-section {
	width: 335px;
	margin: 0;
}
/* Section - Google Maps
----------------------------------------------------------------------------- */
#google-maps {
	height: 450px;
	position: relative;
	width: 100%;
}
#map_canvas {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 450px;
}
#address {
	position: relative;
	top: 60px;
	z-index: 2;
	
	background: #fff;
	padding: 30px;
	width: 340px;
	
	float: right;
	margin-right: 85px;
	
	-webkit-box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.2);
	
	font-size: 0.875em; /* 14/16 */
}
#address h3 {
	color: #bc0505;
	font-family: sniglet, sans-serif;
	font-size: 2.375em; /* 38/16 */
	margin: 0 auto 20px;
	text-align: center;
}
#address hr {
	margin: 10px auto;
	width: 100px;
	border: none;
	border-top: 1px #eaeaea solid;
}
#address div {
	line-height: 1.25em; /* 20/16 */
	text-align: center;
	margin: 0 0 20px;
}
#address p {
	text-align: center;
}
#address p strong {
	display: inline-block;
	width: 155px;
}
#address a {
	display: block;
	float: left;
	background: #bc0505;
	width: 161px;
	height: 41px;
	bottom: 0;
	margin: 33px 18px 0 0;
	
	font-family: bevan, sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	line-height: 41px;
}
#address a:last-child {
	margin-right: 0;
}
/* Section - Footer
----------------------------------------------------------------------------- */
footer {
	color: #d56161;
	background: #bc0505;
	padding: 15px;
	font-size: 0.875em; /* 14/16 */
}
footer p {
	float: left;
}
footer nav {
	font-family: arial, sans-serif;
}
footer ul {
	float: right;
}
footer li {
	float: left;
	margin-left: 15px;
	width: auto;
}
footer a ,
footer a:visited {
	font-size: 0.875em; /* 14/16 */
	color: #d56161;
}




